body {
  min-height: 100%;
  background-image: url(sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 50px;
}
h1 {
  color: #7E8A97;
}
ul,
li {
  list-style: none;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 350;
  padding:5px;
  margin:0 auto;
}
a {
  text-decoration: none;
}
.date {
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
}
.description {
  color: #7E8A97;
  font-size: 20px;
  padding-top: 10px;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.float {
  display: block; 
}
.container {
    border-radius: 50px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 10%);
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 3px solid #7E8A97;
}

@media (min-width:576px) {
  .container {
    border: 3px solid #7E8A97;
  }
}