
body {
  min-height: 100%;
  background-image: url(sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  font-family: "Nanum Gothic", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  color: #9995a4;
}
h2 {
  margin: 0;
}
p {
  font-size: smaller;
  margin: 0;
  display: block;
}

ul,
li {
  

  list-style: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding:0;
  margin:0 auto;
}
a {
  text-decoration: none;
}
button {
  background: transparent;
  padding: 6px 12px;
  border: #e4dce5;
}

.col .d-flex .align-items-end {
  padding-left: 0;
}

.csr {
  color: #86aba1;
  font-size: 100px;
  text-align: center;
  padding-top: 10px;
}
.date {
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
}
.description {
  color: #9995a4;
  text-align: right;
  font-weight: 600px;
  font-size: 20px;
  padding-top: 10px;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.float {
  display: block;
  margin:0 auto;
  height: 150px;
  width: 150px;
}

@media (min-width: 768px) {
  .container {
    width: 75%;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}