.WeatherInfo .float {
    margin-top: 30px;
    text-align: center;
}
.WeatherInfo .col {
    padding:0;
    text-align: center;
}
.WeatherInfo .city {
    margin-top: 70px;
    text-align: center;
}
.WeatherSpecification {
    margin-top: 80px;
}
