.Weather canvas {
    margin-right:10px;
    display: inline-block;
    text-align: center;
}

col {
    background:transparent;
    border-color:tomato;
    color:turquoise;
    transition: all 200ms ease-in-out;
}